@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-950 text-white;
  }
}

:root {
  /* Define your font families */
  --font-pt-serif: var(--font-ptSerif), serif;
  --font-open-sans: var(--font-openSans), sans-serif;
  --font-outfit: var(--font-outfit), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;
}


.font-pt-serif {
  font-family: var(--font-pt-serif);
}

.font-open-sans {
  font-family: var(--font-open-sans);
}
.font-outfit {
  font-family: var(--font-outfit);
}
.font-montserrat {
  font-family: var(--font-montserrat);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-outfit), sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-montserrat), sans-serif;
}

.golden {
  color: #f5dd09;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fbbf24 !important; /* amber-400 */
  -webkit-box-shadow: 0 0 0px 1000px #09090b inset !important; /* gray-950 */
  transition: background-color 5000s ease-in-out 0s;
}
